<div class="owl-carousel owl-theme">
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
  <div class="item"><h4><img src="images/vetements.jpg"></h4></div>
</div>
