<!DOCTYPE html>
<head>
  {% include head.html %}

  <!-- This adds page specific content to the head of that page. -->
  {{page.head_html}}

</head>

<body>
 <!-- this contains all of the body of the site -->

        {% include index-header.html %}

        {{content}}

        {% include index-footer.html %}



  <!-- this is the overlay when you are viewing the mobile nav -->
  <label class="pure-overlay" for="pure-toggle-right" data-overlay="right"></label>
</div> <!-- end of page, nothing except body scipts should be below this -->

{% include body-scripts.html %}
</body>
